<div class="page-header text-center">
    <div class="row">
        <div class="col-md-12">
            <h2 class="compromise-title">{{ compromise.titulo }}</h2>
        </div>
    </div>
</div>

<p class="alert alert-info col-md-8 col-md-offset-2" ng-show="mensagem.length">{{ mensagem }}</p>

<form novalidate name="formulario" class="row" ng-submit="submeter()">
    <div class="col-md-8 col-md-offset-2 text-center">
        <div class="input-box input-effect form-group">
            <input name="titulo" ng-model="compromise.titulo" required ng-maxlength="50" class="effect" type="text" placeholder="" maxlength="50" required/>
            <label class="compromiseLabel"> Título</label>
            <span ng-show="formulario.$submitted && formulario.titulo.$error.required" class="form-control alert-danger">
                Título obrigatório
            </span>
            <span ng-show="formulario.$submitted && formulario.titulo.$error.maxlength" class="form-control alert-danger">
                Deve ter no máximo 20 caracteres
            </span>
        </div>

        <div class="input-box input-effect form-group">
            <input class="effect dateAndTime" ng-flatpickr fp-opts="dateOpts" ng-model="compromise.formattedDate" required>
            <label class="compromiseLabel dateAndHour">Data e Hora</label>
            <span ng-show="formulario.$submitted && formulario.dateTime.$error.required" class="form-control alert-danger">
                Data e Hora obrigatórios
            </span>
        </div>
        <div class="input-box input-effect form-group">
            <textarea name="descricao" class="effect" ng-model="compromise.descricao"></textarea>
            <label class="compromiseLabel"> Descrição</label>
        </div>

        <button type="submit" class="compromise-btn" ng-disabled="formulario.$invalid">
            <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
            Salvar
        </button>
         <a href="/" class="compromise-btn" meu-focus>
             <i class="fa fa-arrow-left" aria-hidden="true"></i>
             Voltar
         </a>
        <hr>
    </div>
</form>
