<div class="row">
    <div class="col-md-12">
        <form class="" action="index.html" method="post">

            <div class="row new-compromise">
                <div class="input-group center-compromise">
                    <span class="input-group-btn">
                        <a href="schedule/new" class="new-compromise-button">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                            <span>Novo Compromisso</span>
                        </a>
                    </span>
                </div>
            </div>

        </form>
    </div>
</div>

<div class="row list-compromises" style =" padding-top: 30px">
    <p class="alert alert-info col-md-8 col-sm-12 col-md-offset-2" ng-show="mensagem.length">
        {{ mensagem }}
    </p>

    <list-compromises class="col-md-12" ng-repeat="compromise in compromises" titulo="{{ compromise.titulo }}" descricao="{{ compromise.descricao }}">
        <div class="row">
            <a href="schedule/edit/{{compromise._id}}" class="edit">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
            <delete acao="remover( compromise )"></delete>
            <p class="details"> {{ compromise.dateTime | date:"dd/MM/yyyy 'às' HH:mm" }} </p>
        </div>
    </list-compromises>
</div>
